<div data-sly-use.stock="com.aem.traning.core.models.NseStockV2">
<h2>Stock: " ${stock.getSymbolLongName} "</h2>
<table style="width: 37%;text-align: center;">
  <tr>
    <th>LastTradedPrice</th>
    <th>Pr. Close</th>
    <th>High</th>
    <th>Low</th>
    <th>LastTradedTime</th>
  </tr>
  <tr data-sly-list.item="${ stock.getStockListArray }">
    <td> ${item}</td>
  </tr>
</table>
<a href="http://localhost:4502/content/AEMMaven22/us/en/home-page.nse.html" target="_blank">Stock API</a>
</div>

<!-- <pre>${ stock.getFormatedtext }</pre> -->
